
html,
body,
header,
.view {
    height: 100%;
}
/* Navigation*/

.navbar {
    background-color: #000;
}

.top-nav-collapse {
    background-color: #000;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
/*Intro*/

.view {
    background: #EAEAEA;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}

.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #fff
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}
footer.page-footer{margin-top:0px;padding-top:0px;background-color:#000;color:#fff}